.rows {
  margin: 8px;
}
.head {
  margin-top: 25px;
  margin-bottom: 35px;
  border: 3px solid #008c7d;
  background-color: #8dd7cf;
}
.bottom-row {
  margin: 8px;
  border: 0.5px solid grey;
  box-shadow: 5px 10px 20px #888888;
  padding-bottom: 10px;
}

.ans-submit {
  margin-top: 30px;
}
.sub-head {
  margin-top: 20px;
}
.align-right {
  margin-right: -110%;
}

.cols {
  border: 1px solid grey;
  border-radius: 8px;
  padding-bottom: 20px;
}
.items {
  margin-bottom: 0.2rem;
}

#pdfviewer {
  width: 600px;
  margin: 0 auto;
}
#pdfviewer .viewer-layout-toolbar {
  background: #000;
  color: #fff;
}

#pdfviewer .viewer-icon {
  stroke: #fff;
  stroke-width: 3px;
}

#pdfviewer .viewer-zoom-popover-target-arrow {
  border-color: rgb(255 255 255 / 90%) transparent transparent;
}

#pdfviewer .viewer-menu-item-label,
#pdfviewer .viewer-search-popover-label,
#pdfviewer .viewer-menu,
#pdfviewer .viewer-menu .viewer-icon {
  color: #000;
  stroke: #000;
}
.title {
  margin-bottom: 20px;
  margin-top: 20px;
}
